:root {
    --pink : rgb(171,152,149);
    --brown: rgb(126,112,103) ;
  }
/* MurdenCF */
    @font-face {
    font-family: murden_cf_extraBold;
    src: url(assets/fonts/MurdenCFExtraBold-Regular.otf);
font-weight: lighter;  
}
  @font-face {
    font-family: murden_cf_extraBoldCond;
    src: url(assets/fonts/MurdenCFExtraBoldCond-Regular.otf);
  }
  @font-face {
    font-family: arca_majora_3_bold;
    src: url(assets/fonts/ArcaMajora3-Bold.otf);
  }
  @font-face {
    font-family: arca_majora_3_heavy;
    src: url(assets/fonts/ArcaMajora3-Heavy.otf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: murden_cf_extraBold ,Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
.container{
    max-width: 1240px;
    width: 100%;
}

header{
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: right; */
    background-color: black;
    color: white;
    z-index: 100;

}
/* sticky menu */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0.9;
  }
  #navbar {
    overflow: hidden;
    /* background-color: #333; */
  }

nav h1{
    /* margin-top: 1em; */
margin-left: 1em;
}
nav{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
nav ul li{
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: white;
}

/* second header */
.second-header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.second-header h1{
 margin-top: 1em;
 font-size: 3em;
 color: var(--pink);
}
.second-header p{
    margin-top: 1em;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}
/* images */
.first-image{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.first-image img{
    width: 100%;
 object-fit: cover;
 
 transform: translateY(-20%);
 /* transform: scale(1); */
 
}
.second-image{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    
}
.second-image img{
    width: 100%;
 object-fit: cover;
 transform: translateY(-5%);
}
.second-image .img-texts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: auto;
    color: white;
}
.img-texts h1{
    margin-bottom: 0.5em;
    font-size: 2.5em;
}
.img-texts p{
    text-decoration: underline;
    font-size: 1.5em;
}
.img-texts p  a{
    color: white;
}
/* cards */
.img-cards{
    width: 100%;
    display: flex;
}
.firstcard {
    width: 33.35%;
    text-align: center;
}
.firstcard-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.firstcard-img img{
    object-fit: contain;
    height: 420px;
}
.firstcard h1{
    margin-top: 2em;
    font-size: 1.5em;
    color: var(--pink);
}
.firstcard p{
    margin-top: 2em;
    font-size: 1em;
    /* color: var(--brown); */
    
}
#second{
    transform: translateY(-30%);
}

/* collage */
.collage-gallery{
    display: flex;
    justify-content: center;
}
.collage{
margin-top: 3em;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}
.collage img{
    margin-left: 0.5em;
    margin-bottom: 1em;
    width: 30%;
    height: 300px;
    object-fit: cover;
}
/* services */
.services{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.services .service-cards{
display: flex; 
justify-content: space-between;
}
.services .services-texts{
 width: 100%;
text-align: center;
}
.services-texts h1{
    margin-top:2em;
    color: var(--pink);
    margin-bottom: 1.5em;
}
.service-card{
    border: 1px solid rgba(0, 0, 0, 0.452);
}
.service-card img{
    width: 100%;
}
.services .service-card{
    width: 32%;
    margin-top: 2em;
}
.service-card h1{
    width: 85%;
    padding-bottom: 0.7em;
    margin-left: 1em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border-bottom: 1px solid black;
}
.service-card p{
    margin-left: 2em;
    margin-bottom: 0.5em;
}
.service-card button {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: var(--pink);
    padding: 0.5em 1.5em;
border: none;
color: white;
}

/* our clients */
.ourclients h1{
    margin-top: 2em;
    margin-bottom: 1em;
    color: var(--pink);
}
.ourclients p{
    margin-bottom: 2em;
}


.ourclients-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ourclient-card {
    width: 20%;
    text-align: center;
}
.ourclient-card-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.ourclient-card-img img{
    object-fit: contain;
    height: 420px;
}
.ourclient-card h1{
    margin-top: 4em;
    font-size: 1.5em;
    color: var(--pink);
}
.ourclient-card p{
    margin-top: 2em;
    font-size: 1em;
    /* color: var(--brown); */
    
}
.ourclient-card-img img{
filter: grayscale(100%);
width: 100%;
transform: translateY(-20%);
}

/* contact us */
.contactus h1{   
    text-align: center;
    color: var(--pink);
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.contactus form{
    width: 70%;
    margin: auto;
}
form .name{
    width: 48%;
    padding: 1em 0 1em 1em;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.1em;
    outline: none;

}
form .email {
    width: 48%;
    margin-left: 1.7em;
    padding: 1em 0 1em 1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1em;
}
form .subject{
    width: 100%;
    border: none;
    padding: 1em 0 1em 1em;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1em;
}
form .message{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
margin-top: 1em;
padding: 1em 1em;
font-size: 1.1em;
resize: none;
outline: none;

}
form button{
width: 100%;
margin-top: 1em;
padding:0.5em 0.5em;
font-size: 1.1em;
background-color: black;
color: white;
border: none;
letter-spacing: 0.2em;
margin-bottom: 2em;
}

/* about us */
.aboutus{
    text-align: center;
}

.aboutus h1{
    margin-top: 2em;
    color: var(--pink);
    margin-bottom: 1.5em;
}

.aboutus p {
    width: 70%;
    margin: auto;
    line-height: 1.5em;
margin-bottom: 2em;
}

/* fooqter */
footer{
    padding: 1.5em 2em;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
}
footer .social-links{
    display: flex;
    width: 10%;
    justify-content: space-between;

}
.social-links i{
    font-size: 1.5em;
    color: white;
}
.developer{
    margin-top: 1em;
    font-size: 0.8em;
}
.developer a:link,.developer a:visited {
    color: white;
    text-decoration: none;
}